# Default Training Config
batch_size: 64
test_batch_size: 64
val_batch_size: 64
num_epoch: 80
seed: 2
optimizer: adamw
base_lr: 0.001
weight_decay: 0.001

dataset_args:
  loss_type: focal

train_feeder_args:
  batch_size: 64
val_feeder_args:
  batch_size: 64
test_feeder_args:
  batch_size: 64
